.page {
    text-align: center;
    word-wrap: break-word;
    display: none;
    color: #8b0000
}

.title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.timerItem::first-line{
    font-size: 4rem;
};

.label {
    font-size: 3rem;
}

.visible {
    display: block;
}


@media (max-width: 1280px) {
    .title {
        font-size: 3rem;
    }
    .timerItem::first-line{
        font-size: 3rem;
    }
    .label {
        font-size: 2rem;
    }
}


@media (max-width: 1024px) {
    .title {
        font-size: 3rem;
    }
    .timerItem::first-line{
        font-size: 3rem;
    }
    .label {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }
    .timerItem::first-line{
        font-size: 3rem;
    }
    .label {
        font-size: 1rem;
    }
}

@media (max-height: 580px) {
    .title {
        font-size: 2rem;
    }
    .timerItem::first-line{
        font-size: 3rem;
    }
    .label {
        font-size: 1rem;
    }
}
